body {
    background-image:url(images/5-dots.png);
    background-color:black;
}

#wrapper {
    
    width:980px;
    margin:auto;
    border:none;
    background-color: rgb(48, 12, 12,.8);
    box-shadow: 3px black;
    height:980px;
}

#php {
    width:700px;
    margin:auto;
    text-align: center;
    /*border:2px black;*/
}

a {
    text-decoration: none;
    display:block;
    color:red;
}

a:hover {
    color:rgb(91, 1, 119);
    font-size:25px;
}

#git {
    width:700px;
    margin:auto;
    text-align: center;
    /*border-bottom:2px darkred;*/
}

#extra {
    width:700px;
    margin:auto;
    text-align: center;
    /*border:2px darkred;*/
}

.title {
    font-size:25px;
    color:red;
    text-align:center;
}

footer {
    clear:both;
    border-top:1px solid red;
    text-align: center;
    color:red;
}



/*-----------------INTAKE CSS------------*/
#form_container {
    float:right;
    color:red;
    text-align:center;
    margin:auto;
    width:700px;
    padding:20px;
}

.label {
    font-weight:bold;
}

#errors {
    list-style-type:none;
}

.error_title {

    font-size:20px;
    font-weight:bold;
}

#content {
    float:right;

}


#checking {

    width:300px;
    float:left;
    height:300px;
    margin:left;
    text-align:left;
    padding:20px;
    /*border:1px solid red;*/
    border-right:1px solid red;
}

#savings {

    width:300px;
    float:right;
    height:300px;
    margin:left;
    text-align:left;
    padding:20px;
    /*border:1px solid red;*/
}

#checking_form {

    padding:20px 0 0 0;
}

#savings_form {
    padding:20px 0 0 0;
}